.DS_Store
celeba/data/*
celeba/experiments/__pycache__/*
__pycache__/*
*.log
celeba/__pycache__/*
celeba/exps/exps/run_0/args.json
celeba/exps/exps/*
fair_learn/exps/exps/*
*.pyc

data/
zero_order_influence/
backup/
exps/
scores/
exps/exps/*
data/celeba/*

*.csv
